# Copia este archivo como .env.railway y rellena DATABASE_URL
# (Railway -> PostgreSQL -> Variables -> DATABASE_URL)
DATABASE_URL=postgresql://usuario:CONTRASEÑA@host.railway.app:PUERTO/railway
DB_SCHEMA=demeritos
NEXTAUTH_URL=http://localhost:3000
NODE_ENV=development
